* {
    box-sizing: border-box;
}

.board {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 90vw;
    margin: auto;
    margin-top: 3vh;
    background-color: white;
    position: relative;
    
}




.board__camper-list {
    margin-top: 20vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Camper {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin: 5px;
    height: 10vh;
}

.Camper__pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4%;
}

.Camper__pic img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.Camper__info-and-progress-bar {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.Camper__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.Camper__progress-bar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606cb1+0,54aced+100 */
    background: #606cb1; /* Old browsers */
    background: -moz-linear-gradient(left,  #606cb1 0%, #54aced 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #606cb1 0%,#54aced 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #606cb1 0%,#54aced 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606cb1', endColorstr='#54aced',GradientType=1 ); /* IE6-9 */
    border-radius: 30px;
}

.Header__toggle-switch {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: aqua;
    border-radius: 20px;
}

@media only screen and (max-width: 599px) {
    
    .board {
        height: 90vh;
        overflow: hidden;
        -webkit-box-shadow: 0px 5px 17px 10px rgba(0,0,0,0.39);
        -moz-box-shadow: 0px 5px 17px 10px rgba(0,0,0,0.39);
        box-shadow: 0px 5px 17px 10px rgba(0,0,0,0.39);
        
    }
    
    .board__camper-list {
        margin-top: 23vh;
    }
    
    .Header::before {
        content: "";
        background-color: skyblue;
        width: 100%;
        position: absolute;
        top: -3vh;
        height: 3vh;
    }
    
    .Header__option-bar {
        width: 90%;
        height: 30px;
        margin: auto;
        display: flex;
        align-items: center;
        background-color: #e1e7ef;
        border-radius: 20px;
        position: relative;
    }
    
    .Header__option-bar span {
        cursor: pointer;
        z-index: 5;
        display: block;
        margin: auto;
    }
}

@media only screen and (min-width: 600px) {
    
    .Header, .board__camper-list {
        -webkit-box-shadow: -7px 8px 27px 2px rgba(0,0,0,0.42);
        -moz-box-shadow: -7px 8px 27px 2px rgba(0,0,0,0.42);
        box-shadow: -7px 8px 27px 2px rgba(0,0,0,0.42);
    }
    
    
    .Header {
        position: fixed;
        width: 90%;
        height: 80vh;
        background-color: deepskyblue;
        left: 5%;
    }

    .Header__option-bar {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: absolute;
        top: 15px;
    }

    .Header__option-bar span {
        margin-left: 5%;
        cursor: pointer;
    }
    
    .board__camper-list {
        position: absolute;
        margin: 0;
        width: 90%;
        background-color: darkslategray;
        height: 80vh;
        overflow-y: scroll;
        z-index: 5;
        top: 10vh;
        position: fixed;
        left: 8%;
    }
    
    .board__camper-list .Header__option-bar {
        display: none;
    }
    
    
    
}

